<div class="w-full mx-auto mt-12">
  <div class="bg-white dark:bg-gray-700 shadow-lg rounded-lg p-6">
    <div class="rounded-t mb-0 px-4 py-3 border-0">
      <div class="flex flex-wrap items-center">
        <div class="relative w-full max-w-full flex-grow flex-1">
          <h3 class="font-semibold text-lg text-blueGray-700">Market Visits</h3>
        </div>
        <button
          class="bg-indigo-500 hover:bg-indigo-700 text-white text-xs font-bold py-2 px-4 mt-12 rounded"
          (click)="initNewMvisits()"
        >
          INSERT NEW DATA
        </button>
      </div>
    </div>

    <div class="block w-full overflow-x-auto">
      <table
        mat-table
        [dataSource]="dataSource"
        class="items-center bg-transparent w-full border-collapse"
      >
        <!-- Column Definitions -->
        <ng-container matColumnDef="id">
          <th
            mat-header-cell
            *matHeaderCellDef
            class="px-6 bg-blueGray-50 text-blueGray-500 border border-solid border-blueGray-100 py-3 text-sm uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left"
          >
            Id
          </th>
          <td
            mat-cell
            *matCellDef="let mvisit"
            class="border-t-0 px-6 text-sm whitespace-nowrap p-4 text-left text-blueGray-700"
          >
            {{ mvisit.id }}
          </td>
        </ng-container>

        <ng-container matColumnDef="area">
          <th
            mat-header-cell
            *matHeaderCellDef
            class="px-6 bg-blueGray-50 text-blueGray-500 border border-solid border-blueGray-100 py-3 text-sm uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left"
          >
            Area
          </th>
          <td
            mat-cell
            *matCellDef="let mvisit"
            class="border-t-0 px-6 text-sm whitespace-nowrap p-4"
          >
            {{ mvisit.area }}
          </td>
        </ng-container>

        <ng-container matColumnDef="visitor">
          <th
            mat-header-cell
            *matHeaderCellDef
            class="px-6 bg-blueGray-50 text-blueGray-500 border border-solid border-blueGray-100 py-3 text-sm uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left"
          >
            Visitor
          </th>
          <td
            mat-cell
            *matCellDef="let mvisit"
            class="border-t-0 px-6 text-sm whitespace-nowrap p-4"
          >
            {{ mvisit.visitor }}
          </td>
        </ng-container>

        <ng-container matColumnDef="visitdate">
          <th
            mat-header-cell
            *matHeaderCellDef
            class="px-6 bg-blueGray-50 text-blueGray-500 border border-solid border-blueGray-100 py-3 text-sm uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left"
          >
            Visit Date and Time
          </th>
          <td
            mat-cell
            *matCellDef="let mvisit"
            class="border-t-0 px-6 text-sm whitespace-nowrap p-4"
          >
            {{ mvisit.visitdate | date: 'short' }}
          </td>
        </ng-container>

        <ng-container matColumnDef="action">
          <th
            mat-header-cell
            *matHeaderCellDef
            class="px-6 bg-blueGray-50 text-blueGray-500 border border-solid border-blueGray-100 py-3 text-sm uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left"
          >
            Action
          </th>
          <td
            mat-cell
            *matCellDef="let mvisit"
            class="border-t-0 px-6 text-sm whitespace-nowrap p-4"
          >
            <button
              class="bg-indigo-500 w-36 hover:bg-indigo-700 text-white text-xs font-bold py-2 px-4 rounded"
              (click)="editMvisits(mvisit)"
            >
              EDIT
            </button>
          </td>
        </ng-container>

        <!-- Table Header and Rows -->
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <mat-paginator
        [length]="dataSource.data.length"
        [pageSize]="10"
        [pageSizeOptions]="[5, 10, 25, 100]"
        aria-label="Select page"
      >
      </mat-paginator>
    </div>
  </div>
</div>

<app-update-market-visits
  [mvisit]="mvisitsToEdit"
  (marketVisitsUpdated)="updateVisitList($event)"
></app-update-market-visits>
