<body class="text-gray-800 font-inter">
  <!-- Sidebar -->
  <div
    [ngClass]="{
      'translate-x-0': isSidebarOpen,
      '-translate-x-full': !isSidebarOpen
    }"
    class="fixed left-0 top-0 w-64 h-full bg-gray-900 p-4 z-50 sidebar-menu transition-transform"
  >
    <!-- Sidebar content -->
    <a href="#" class="flex items-center pb-4 border-b border-b-gray-800">
      <img
        src="https://placehold.co/32x32"
        alt=""
        class="w-8 h-8 rounded object-cover"
      />
      <span class="text-lg font-bold text-white ml-3">{{ title }}</span>
    </a>
    <ul class="mt-4">
      <li class="mb-1">
        <a
          href="#"
          class="flex items-center py-2 px-4 text-gray-300 hover:bg-gray-950 hover:text-gray-100 rounded-md"
          [ngClass]="{
            'bg-gray-800 text-white': selectedContent === 'content1'
          }"
          (click)="showContent('content1')"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="size-6"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M3 8.25V18a2.25 2.25 0 0 0 2.25 2.25h13.5A2.25 2.25 0 0 0 21 18V8.25m-18 0V6a2.25 2.25 0 0 1 2.25-2.25h13.5A2.25 2.25 0 0 1 21 6v2.25m-18 0h18M5.25 6h.008v.008H5.25V6ZM7.5 6h.008v.008H7.5V6Zm2.25 0h.008v.008H9.75V6Z"
            />
          </svg>
          <span class="text-sm font-base ml-2">Dashboard</span>
        </a>
      </li>
      <li class="mb-1">
        <a
          href="#"
          class="flex items-center py-2 px-4 text-gray-300 hover:bg-gray-950 hover:text-gray-100 rounded-md"
          [ngClass]="{
            'bg-gray-800 text-white': selectedContent === 'content2'
          }"
          (click)="showContent('content2')"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="size-6"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M18 7.5v3m0 0v3m0-3h3m-3 0h-3m-2.25-4.125a3.375 3.375 0 1 1-6.75 0 3.375 3.375 0 0 1 6.75 0ZM3 19.235v-.11a6.375 6.375 0 0 1 12.75 0v.109A12.318 12.318 0 0 1 9.374 21c-2.331 0-4.512-.645-6.374-1.766Z"
            />
          </svg>
          <span class="text-sm font-base ml-2">Add users</span>
        </a>
      </li>
      <li class="mb-1">
        <a
          href="#"
          class="flex items-center py-2 px-4 text-gray-300 hover:bg-gray-950 hover:text-gray-100 rounded-md"
          [ngClass]="{
            'bg-gray-800 text-white': selectedContent === 'content3'
          }"
          (click)="showContent('content3')"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="size-6"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M13.5 21v-7.5a.75.75 0 0 1 .75-.75h3a.75.75 0 0 1 .75.75V21m-4.5 0H2.36m11.14 0H18m0 0h3.64m-1.39 0V9.349M3.75 21V9.349m0 0a3.001 3.001 0 0 0 3.75-.615A2.993 2.993 0 0 0 9.75 9.75c.896 0 1.7-.393 2.25-1.016a2.993 2.993 0 0 0 2.25 1.016c.896 0 1.7-.393 2.25-1.015a3.001 3.001 0 0 0 3.75.614m-16.5 0a3.004 3.004 0 0 1-.621-4.72l1.189-1.19A1.5 1.5 0 0 1 5.378 3h13.243a1.5 1.5 0 0 1 1.06.44l1.19 1.189a3 3 0 0 1-.621 4.72M6.75 18h3.75a.75.75 0 0 0 .75-.75V13.5a.75.75 0 0 0-.75-.75H6.75a.75.75 0 0 0-.75.75v3.75c0 .414.336.75.75.75Z"
            />
          </svg>
          <span class="text-sm font-base ml-2">In Store Requirements</span>
        </a>
      </li>
      <li class="mb-1">
        <a
          href="#"
          class="flex items-center py-2 px-4 text-gray-300 hover:bg-gray-950 hover:text-gray-100 rounded-md"
          [ngClass]="{
            'bg-gray-800 text-white': selectedContent === 'content4'
          }"
          (click)="showContent('content4')"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="size-6"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M9.568 3H5.25A2.25 2.25 0 0 0 3 5.25v4.318c0 .597.237 1.17.659 1.591l9.581 9.581c.699.699 1.78.872 2.607.33a18.095 18.095 0 0 0 5.223-5.223c.542-.827.369-1.908-.33-2.607L11.16 3.66A2.25 2.25 0 0 0 9.568 3Z"
            />
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M6 6h.008v.008H6V6Z"
            />
          </svg>
          <span class="text-sm font-base ml-2">Product on display</span>
        </a>
      </li>
      <!-- other menu items -->
    </ul>
  </div>

  <!-- Overlay -->
  <div
    *ngIf="isSidebarOpen"
    class="fixed inset-0 bg-black opacity-50 z-40 lg:hidden"
    (click)="toggleSidebar()"
  ></div>

  <!-- Main content -->
  <main
    [ngClass]="{
      'md:w-[calc(100%-256px)] md:ml-64': isSidebarOpen,
      'w-full': !isSidebarOpen
    }"
    class="bg-gray-50 min-h-screen transition-all main"
  >
    <!-- start: Header -->
    <div
      class="py-2 px-6 bg-white flex items-center shadow-md shadow-black/5 sticky top-0 left-0 z-30"
    >
      <button
        type="button"
        class="text-lg text-gray-600 sidebar-toggle"
        (click)="toggleSidebar()"
      >
        <i class="ri-menu-line"></i>
      </button>
      <ul class="flex items-center text-sm ml-4">
      </ul>
    </div>
    <div class="p-6">
      <!-- Conditionally display content based on selectedContent -->
      <div
        *ngIf="selectedContent === 'content1'"
        class="grid grid-cols-1 lg:grid-cols-1 gap-6"
      >
        <div class="grid grid-cols-1 lg:grid-cols-4 gap-6">
          <div
            class="bg-white rounded-md border border-gray-100 p-6 shadow-md shadow-black/5"
          >
            <div class="flex justify-between mb-6">
              <div>
                <div class="text-2xl font-semibold mb-1">Visits</div>
                <div class="text-sm font-medium text-gray-400">
                  Number of Visits
                </div>
              </div>
            </div>
            <a
              href="#"
              class="text-blue-500 font-medium text-sm hover:text-blue-600"
              >View details</a
            >
          </div>
          <div
            class="bg-white rounded-md border border-gray-100 p-6 shadow-md shadow-black/5"
          >
            <div class="flex justify-between mb-6">
              <div>
                <div class="text-2xl font-semibold mb-1">Data</div>
                <div class="text-sm font-medium text-gray-400">
                  Active orders
                </div>
              </div>
            </div>
            <a
              href="#"
              class="text-blue-500 font-medium text-sm hover:text-blue-600"
              >View details</a
            >
          </div>
        </div>

        <!-- Table or additional content placed below the cards -->
        <div class="grid grid-cols-1 gap-6 mb-6">
          <div
            class="bg-white border border-gray-100 shadow-md shadow-black/5 p-6 rounded-md"
          >
            <app-get-market-visits></app-get-market-visits>
          </div>
        </div>
      </div>
      <div *ngIf="selectedContent === 'content2'">
        <div class="grid grid-cols-1 lg:grid-cols-4 gap-6 mb-6">
          <div
            class="bg-white rounded-md border border-gray-100 p-6 shadow-md shadow-black/5"
          >
            <div class="flex justify-between mb-6">
              <div>
                <div class="flex items-center text-2xl font-semibold mb-1">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6 mr-2">
                    <path fill-rule="evenodd" d="M7.5 6a4.5 4.5 0 1 1 9 0 4.5 4.5 0 0 1-9 0ZM3.751 20.105a8.25 8.25 0 0 1 16.498 0 .75.75 0 0 1-.437.695A18.683 18.683 0 0 1 12 22.5c-2.786 0-5.433-.608-7.812-1.7a.75.75 0 0 1-.437-.695Z" clip-rule="evenodd" />
                  </svg>
                  <span>{{userCount}}</span>
                </div>
                
                <div class="text-sm font-medium text-gray-400">Number of Users</div>
              </div>
            </div>
            <!-- <a href="#" class="text-blue-500 font-medium text-sm hover:text-blue-600"
              >View details</a
            > -->
          </div>          
        </div>
        <div class="grid grid-cols-1 gap-6 mb-6">
          <div
            class="bg-white border border-gray-100 shadow-md shadow-black/5 p-6 rounded-md"
          >
           <app-user-add></app-user-add>
          </div>
        </div>
      </div>
      <div *ngIf="selectedContent === 'content3'">
        <div class="grid grid-cols-1 lg:grid-cols-4 gap-6 mb-6">
          <div
            class="bg-white rounded-md border border-gray-100 p-6 shadow-md shadow-black/5"
          >
            <div class="flex justify-between mb-6">
              <div>
                <div class="text-2xl font-semibold mb-1">
                  In Store Requirements +
                </div>
                <div class="text-sm font-medium text-gray-400">
                  In Store Requirements
                </div>
              </div>
            </div>
            <a
              href="#"
              class="text-blue-500 font-medium text-sm hover:text-blue-600"
              >View details</a
            >
          </div>
          <div
            class="bg-white rounded-md border border-gray-100 p-6 shadow-md shadow-black/5"
          >
            <div class="flex justify-between mb-6">
              <div>
                <div class="text-xl font-semibold mb-1">
                  In Store Requirements Needs +
                </div>
                <div class="text-sm font-medium text-gray-400">
                  In Store Requirements Needs 
                </div>
              </div>
            </div>
            <a
              href="#"
              class="text-blue-500 font-medium text-sm hover:text-blue-600"
              >View details</a
            >
          </div>
        </div>
        <!-- <div class="grid grid-cols-1 gap-6 mb-6">
          <div
            class="bg-white border border-gray-100 shadow-md shadow-black/5 p-6 rounded-md"
          >
           <app-isr-add></app-isr-add>
          </div>
        </div> -->
      </div>
      <div *ngIf="selectedContent === 'content4'">
        <app-pod-add></app-pod-add>
      </div>
    </div>
  </main>
</body>
