<body class="text-gray-800 font-inter">
  <!-- Sidebar -->
  <body class="text-gray-800 font-inter">
    <!-- Sidebar -->
    <div
      [ngClass]="{
        'translate-x-0': isSidebarOpen,
        '-translate-x-full': !isSidebarOpen
      }"
      class="fixed left-0 top-0 w-64 h-full bg-gray-900 p-4 z-50 sidebar-menu transition-transform"
    >
      <!-- Sidebar content -->
      <a href="#" class="flex items-center pb-4 border-b border-b-gray-800">
        <img
          class="mx-auto h-auto w-auto"
          src="new_logo2.png"
          alt="Your Company"
        />
        <!-- <span class="text-lg font-bold text-white ml-3">{{ title }}</span> -->
      </a>

      <!-- Main Menu Label -->
      <div class="mt-4 mb-2 text-gray-500 uppercase text-xs tracking-wider">
        Main Menu
      </div>

      <!-- Main Menu Items -->
      <ul>
        <li class="mb-1">
          <a
            routerLink="/dashboard"
            class="flex items-center py-2 px-4 text-gray-300 hover:bg-gray-950 hover:text-gray-100 rounded-md"
            [ngClass]="{
              'bg-gray-800 text-white': selectedContent === 'content1'
            }"
            (click)="showContent('content1')"
          >
            <mat-icon>dashboard</mat-icon>

            <p class="ml-2 text-sm">Dashboard</p>
          </a>
        </li>
        <!-- Add other main menu items here -->
      </ul>

      <!-- Admin Options Label -->
      <div *ngIf="user.role_id !== '2'" class="mt-6 mb-2 text-gray-500 uppercase text-xs tracking-wider">
        Admin Options
      </div>

      <!-- Admin Options Items -->
      <ul>
        <li *ngIf="user.role_id !== '2'" class="mb-1">
          <a
            routerLink="/dashboard"
            class="flex items-center py-2 px-4 text-gray-300 hover:bg-gray-950 hover:text-gray-100 rounded-md"
            [ngClass]="{
              'bg-gray-800 text-white': selectedContent === 'content2'
            }"
            (click)="showContent('content2')"
          >
            <mat-icon>person_add</mat-icon>
            <p class="ml-2 text-sm">Users</p>
          </a>
        </li>
        <!-- Admin Options Label -->
        <div *ngIf="user.role_id !== '2'" class="mt-6 mb-2 text-gray-500 uppercase text-xs tracking-wider">
          Master Data
        </div>
        <li *ngIf="user.role_id !== '2'" class="mb-1">
          <a
            routerLink="/dashboard"
            class="flex items-center py-2 px-4 text-gray-300 hover:bg-gray-950 hover:text-gray-100 rounded-md"
            [ngClass]="{
              'bg-gray-800 text-white': selectedContent === 'add-area'
            }"
            (click)="showContent('add-area')"
          >
            <mat-icon>add_location_alt</mat-icon>
            <p class="ml-2 text-sm">Add area</p>
          </a>
        </li>
        <li *ngIf="user.role_id !== '2'" class="mb-1">
          <a
            routerLink="/dashboard"
            class="flex items-center py-2 px-4 text-gray-300 hover:bg-gray-950 hover:text-gray-100 rounded-md"
            [ngClass]="{
              'bg-gray-800 text-white': selectedContent === 'content3'
            }"
            (click)="showContent('content3')"
          >
            <mat-icon>store</mat-icon>
            <p class="ml-2 text-sm">In store requirements</p>
          </a>
        </li>
        <li *ngIf="user.role_id !== '2'" class="mb-1">
          <a
            routerLink="/dashboard"
            class="flex items-center py-2 px-4 text-gray-300 hover:bg-gray-950 hover:text-gray-100 rounded-md"
            [ngClass]="{
              'bg-gray-800 text-white': selectedContent === 'content4'
            }"
            (click)="showContent('content4')"
          >
            <mat-icon>inventory</mat-icon>
            <p class="ml-2 text-sm">Product on display</p>
          </a>
        </li>
        <!-- Add other admin menu items here -->
      </ul>
      <!-- Admin Options Label -->
      <div class="mt-6 mb-2 text-gray-500 uppercase text-xs tracking-wider">
        Logout
      </div>
      <li  class="mb-1">
        <a
          routerLink="/dashboard"
          class="flex items-center py-2 px-4 text-gray-300 hover:bg-gray-950 hover:text-gray-100 rounded-md"
          [ngClass]="{
            'bg-gray-800 text-white': selectedContent === 'content10'
          }"
          (click)="showContent('content4')"
        >
          <mat-icon>logout</mat-icon>
          <p class="ml-2 text-sm">Logout</p>
        </a>
      </li>
    </div>
  </body>

  <!-- Overlay -->
  <div
    *ngIf="isSidebarOpen"
    class="fixed inset-0 bg-black opacity-50 z-40 lg:hidden"
    (click)="toggleSidebar()"
  ></div>

  <!-- Main content -->
  <main
    [ngClass]="{
      'md:w-[calc(100%-256px)] md:ml-64': isSidebarOpen,
      'w-full': !isSidebarOpen
    }"
    class="bg-[#fdfbff] min-h-screen transition-all main"
  >
    <!-- start: Header -->
    <div
      class="py-2 px-6 bg-white flex items-center shadow-md shadow-black/5 sticky top-0 left-0 z-30"
    >
      <button
        type="button"
        class="text-lg text-gray-600 sidebar-toggle"
        (click)="toggleSidebar()"
      >
        <i class="ri-menu-line"></i>
      </button>
      <ul class="flex items-center text-sm ml-4 flex-1"></ul>

      <!-- Sidebar Content -->
      <div>
        <p class="font-semibold text-xs text-gray-600 mr-2">
          Welcome, {{ user.fname }} {{ user.mname }} {{ user.lname }} 
        </p>
      </div>

      <button
        class="flex items-center text-xs font-semibold text-gray-600 hover:text-gray-900"
        (click)="logout()"
      >
        <i class="ri-logout-box-r-line"></i>
        Logout
      </button>
    </div>

    <div class="p-6">
      <div *ngIf="selectedContent === 'content1'">
        <app-get-market-visits></app-get-market-visits>
      </div>

      <div *ngIf="selectedContent === 'content2'">
        <app-user-add></app-user-add>
      </div>

      <div *ngIf="selectedContent === 'content3'">
        <app-isr-add></app-isr-add>
      </div>
      <div *ngIf="selectedContent === 'content4'">
        <app-pod-add></app-pod-add>
      </div>
      <div *ngIf="selectedContent === 'content5'">
        <app-add-visits></app-add-visits>
      </div>
      <div *ngIf="selectedContent === 'add-area'">
        <app-area-add></app-area-add>
      </div>
    </div>
  </main>
</body>
