<!-- edit-visits.component.html -->
<div>  
  <div *ngIf="visitId">   
    <div class="text-2xl font-semibold mb-1">Edit visits for {{ visitId }}</div>
    <mat-stepper orientation="vertical" [linear]="false" #stepper>
      <mat-step [stepControl]="formGroup">
        <form [formGroup]="formGroup">
          <ng-template matStepLabel>Fill out time and date of visit</ng-template>
          <div class="grid grid-cols-1 lg:grid-cols-2 gap-2 mb-4">
            <div class="relative">
              <!-- User ID input -->
              <label
                for="user_id"
                class="block text-gray-700 text-md dark:text-gray-300 font-medium mb-2"
              >
                User Abfi ID
              </label>
              <input
                formControlName="user_id"
                readonly
                [value]="user_id"
                type="text"
                name="user_id"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
              />
            </div>
            <div class="relative">
              <!-- Date of visit input -->
              <label
                for="visit_date"
                class="block text-gray-700 text-md dark:text-gray-300 font-medium mb-2"
                >Date of visit</label
              >
              <input
                formControlName="visit_date"
                id="visit_date"
                name="visit_date"
                type="datetime-local"
                placeholder="Date and Time"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
              />
            </div>
          </div>
          <div class="relative">
            <label
              for="area_id"
              class="block text-gray-700 text-md dark:text-gray-300 font-medium mb-2"
              >Area</label
            >
            <div formArrayName="area_id">
              <div *ngFor="let area of areas; let i = index">
                <input
                  type="checkbox"
                  [formControlName]="i"
                  class="h-5 w-5 text-blue-500 bg-gray-100 border-gray-300 rounded focus:ring-blue-500"
                />
                <label class="ml-2 text-xs text-gray-700">{{ area.area }}</label>
              </div>
            </div>
          </div>
          <div>
            <button mat-button matStepperNext>Next</button>
          </div>
        </form>
      </mat-step>
      <mat-step [stepControl]="formGroup">
        <form [formGroup]="formGroup">
          <ng-template matStepLabel>Fill out account information</ng-template>
          <div class="grid grid-cols-1 lg:grid-cols-3 gap-2 mb-4">
            <div class="relative">
              <label
                for="visit_accountName"
                class="block text-gray-700 text-md dark:text-gray-300 font-medium mb-2"
                >Account Name</label
              >
              <input
                formControlName="visit_accountName"
                id="visit_accountName"
                placeholder="Account name"
                name="visit_accountName"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
              />
            </div>
            <div class="relative">
              <label
                for="visit_distributor"
                class="block text-gray-700 text-md dark:text-gray-300 font-medium mb-2"
                >Distributor</label
              >
              <input
                formControlName="visit_distributor"
                id="visit_distributor"
                placeholder="Visit Distributor"
                name="visit_distributor"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
              />
            </div>
            <div class="relative">
              <label
                for="visit_salesPersonnel"
                class="block text-gray-700 text-md dark:text-gray-300 font-medium mb-2"
                >Sales Personnel in Charge</label
              >
              <input
                formControlName="visit_salesPersonnel"
                placeholder="Sales Personnel in Charge"
                name="visit_salesPersonnel"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
              />
            </div>
            <div>
              <label
                for="accountType"
                class="block text-gray-700 text-md dark:text-gray-300 font-medium mb-2"
                >Account Type</label
              >
              <div formArrayName="accountType_id">
                <div *ngFor="let accountType of accountTypes; let i = index">
                  <input
                    type="checkbox"
                    [formControlName]="i"
                    class="h-5 w-5 text-blue-500 bg-gray-100 border-gray-300 rounded focus:ring-blue-500"
                  />
                  <label class="ml-2 text-xs text-gray-700">{{
                    accountType.accountType_name
                  }}</label>
                </div>
              </div>
              <input
                formControlName="visit_accountType_others"
                type="text"
                id="visit_accountType_others"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-1/2 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                placeholder="Others"
              />
            </div>
          </div>
    
          <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext>Next</button>
          </div>
        </form>
      </mat-step>
      <mat-step [stepControl]="formGroup">
        <form [formGroup]="formGroup">
          <ng-template matStepLabel
            >Fill out In store requirement checklist</ng-template
          >
          <div formArrayName="isr_id">
            <div class="grid grid-cols-2">
              <div>
                <label class="block font-medium mb-4">ISR Requirements</label>
                <div *ngFor="let isr of isrRequirements; let i = index">
                  <input
                    type="checkbox"
                    [formControlName]="i"
                    [value]="isr.id"
                    class="h-5 w-5 text-blue-500 bg-gray-100 border-gray-300 rounded focus:ring-blue-500"
                  />
                  <label class="ml-2 text-xs text-gray-700">{{
                    isr.isr_name
                  }}</label>
                </div>
    
                <ng-template #noIsrRequirements
                  >No ISR Requirements Available</ng-template
                >
              </div>
              <div>
                <label class="block font-medium mb-4">ISR Needs</label>
                <div *ngFor="let isr of isrNeeds; let i = index">
                  <input
                    type="checkbox"
                    [formControlName]="i + isrRequirements.length"
                    [value]="isr.id"
                    class="h-5 w-5 text-blue-500 bg-gray-100 border-gray-300 rounded focus:ring-blue-500"
                  />
                  <label class="ml-2 text-xs text-gray-700">{{
                    isr.isr_name
                  }}</label>
                </div>
              </div>
              <ng-template #noisrNeeds>
                <p>No ISR NEEDS available.</p>
              </ng-template>
            </div>
          </div>
          <div class="grid grid-cols-2">
            <div>
              <div class="relative col-span-2">
                <div>
                  <input
                    formControlName="isr_reqOthers"
                    type="text"
                    name="isr_reqOthers"
                    id="isr_reqOthers"
                    class="mt-2 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-1/2 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                    placeholder="Other requirements"
                  />
                </div>
                <div>
                  <input
                    type="file"
                    name="isr_req_ImgPath"
                    id="isr_req_ImgPath"
                    class="border rounded-lg text-sm w-1/2 cursor-pointer mt-2"
                    accept="image/*"
                    (change)="onImageSelect($event, 'req')"
                  />
                </div>
                <img
                  *ngIf="imagePreviewReq"
                  [src]="imagePreviewReq"
                  alt="Selected Image"
                  class="mt-2 border-2 bg-gray-700 border-gray-500 rounded-lg h-64 w-96"
                />
              </div>
            </div>
            <div>
              <div class="relative col-span-2">
                <div>
                  <input
                    formControlName="isr_needsOthers"
                    type="text"
                    id="isr_needsOthers"
                    class="mt-2 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-1/2 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                    placeholder="Other needs"
                  />
                </div>
                <div>
                  <input
                    type="file"
                    name="isr_needs_ImgPath"
                    id="isr_needs_ImgPath"
                    class="border rounded-lg text-sm w-1/2 cursor-pointer mt-2"
                    accept="image/*"
                    (change)="onImageSelect($event, 'need')"
                  />
                </div>
                <img
                  *ngIf="imagePreviewNeed"
                  [src]="imagePreviewNeed"
                  alt="Selected Image"
                  class="mt-2 border-2 bg-gray-700 border-gray-500 rounded-lg h-64 w-96"
                />
              </div>
            </div>
          </div>
          <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext>Next</button>
          </div>
        </form>
      </mat-step>
      <mat-step [stepControl]="formGroup">
        <form [formGroup]="formGroup">
          <ng-template matStepLabel>Fill out payola infomation</ng-template>
          <div class="grid grid-cols-1 lg:grid-cols-3 gap-2 mb-4">
            <div class="relative">
              <label
                for="visit_payolaMerchandiser"
                class="block text-gray-700 text-md dark:text-gray-300 font-medium mb-2"
                >Payola Merchandiser</label
              >
              <input
                formControlName="visit_payolaMerchandiser"
                id="visit_payolaMerchandiser"
                placeholder="Payola Merchandiser"
                name="visit_payolaMerchandiser"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
              />
            </div>
    
            <div class="relative">
              <label
                for="visit_payolaSupervisor"
                class="block text-gray-700 text-md dark:text-gray-300 font-medium mb-2"
                >Payola Supervisor</label
              >
              <input
                formControlName="visit_payolaSupervisor"
                id="visit_payolaSupervisor"
                placeholder="Payola Supervisor"
                name="visit_payolaSupervisor"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
              />
            </div>
    
            <div class="relative">
              <label
                for="visit_averageOffTakePd"
                class="block text-gray-700 text-md dark:text-gray-300 font-medium mb-2"
                >Average Off Take</label
              >
              <input
                formControlName="visit_averageOffTakePd"
                placeholder="Average Off Take Per Day"
                name="visit_averageOffTakePd"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
              />
            </div>
          </div>
          <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext>Next</button>
          </div>
        </form>
      </mat-step>
      <mat-step [stepControl]="formGroup">
        <form [formGroup]="formGroup">
          <ng-template matStepLabel
            >Fill out product on display checklist</ng-template
          >
          <div formArrayName="pod_id">
            <div class="grid grid-cols-2">
              <div>
                <label class="block font-medium mb-4">Canned PODs</label>
                <div *ngFor="let pod of cannedPods; let i = index">
                  <input
                    type="checkbox"
                    [formControlName]="i"
                    [value]="pod.id"
                    class="h-5 w-5 text-blue-500 bg-gray-100 border-gray-300 rounded focus:ring-blue-500"
                  />
                  <label class="ml-2 text-xs text-gray-700">{{
                    pod.pod_name
                  }}</label>
                </div>
              </div>
              <div>
                <div>
                  <label class="block font-medium mb-4">MPP PODs</label>
                  <div *ngFor="let pod of mppPods; let i = index">
                    <input
                      type="checkbox"
                      [formControlName]="i + cannedPods.length"
                      [value]="pod.id"
                      class="h-5 w-5 text-blue-500 bg-gray-100 border-gray-300 rounded focus:ring-blue-500"
                    />
                    <label class="ml-2 text-xs text-gray-700">{{
                      pod.pod_name
                    }}</label>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="grid grid-cols-2 mt-2">
            <div>
              <input
                formControlName="pod_canned_other"
                type="text"
                id="pod_canned_others"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-1/2 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                placeholder="Other canned pods"
              />
            </div>
            <div>
              <input
                formControlName="pod_mpp_other"
                type="text"
                id="pod_mpp_others"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-1/2 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                placeholder="Other mpp pods"
              />
            </div>
          </div>
          <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext>Next</button>
          </div>
        </form>
      </mat-step>
    
      <mat-step [stepControl]="formGroup">
        <form [formGroup]="formGroup">
          <ng-template matStepLabel
            >Fill out Competitors Check and Action plan</ng-template
          >
          <div class="grid grid-cols-1 lg:grid-cols-2 gap-2 mt-4 mb-4">
            <div class="relative">
              <label
                for="visit_competitorsCheck"
                class="block text-gray-700 text-md dark:text-gray-300 font-medium mb-2"
                >Competitors Check (existing SKU in-store)
              </label>
              <input
                formControlName="visit_competitorsCheck"
                id="visit_competitorsCheck"
                placeholder="SKU Competitors Check"
                name="visit_competitorsCheck"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-1/2 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
              />
            </div>
          </div>
          <label
            for="pap_id"
            class="block text-gray-700 text-md dark:text-gray-300 font-medium mb-2"
            >Paps</label
          >
          <div formArrayName="pap_id">
            <div *ngFor="let paps of paps; let i = index">
              <input
                type="checkbox"
                [formControlName]="i"
                class="h-5 w-5 text-blue-500 bg-gray-100 border-gray-300 rounded focus:ring-blue-500"
              />
              <label class="ml-2 text-xs text-gray-700">{{ paps.pap_name }}</label>
            </div>
          </div>
          <input
            formControlName="pap_others"
            type="text"
            id="pap_others"
            name="pap_others"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-1/2 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
            placeholder="Others paps"
          />
    
          <ng-template #noMppData>
            <p>No MPP PODs available.</p>
          </ng-template>
    
          <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext>Next</button>
          </div>
        </form>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Done</ng-template>
        <p>You are now done. Proceed to submit checklist.</p>
        <div class="mt-4">
          <button
            mat-button
            (click)="stepper.previous()"
            [disabled]="stepper.selectedIndex === 0"
          >
            Back
          </button>
          <button
            mat-button
            (click)="openConfirmationDialog()"
            [disabled]="stepper.selectedIndex < stepper.steps.length - 1"
          >
            Submit
          </button>
        </div>
      </mat-step>
    </mat-stepper>
    
  </div>
  <div *ngIf="!visitId">
    <p>No visit ID provided.</p>
  </div>
</div>
