<h1 mat-dialog-title>Edit in store requirements</h1>
<div
  *ngIf="errorMessages['general']"
  class="bg-red-100 text-red-700 p-2 rounded mb-4"
>
  <ul>
    <li *ngFor="let errorMsg of errorMessages['general']">{{ errorMsg }}</li>
  </ul>
</div>
<div *ngIf="data" mat-dialog-content>
  <form>
    <div class="grid md:grid-cols-1 grid-cols-1 lg:grid-cols-3 gap-2 mb-4">
      <div class="relative">
        <label
          for="isrName"
          class="block text-gray-700 text-md dark:text-gray-300 font-medium mb-2"
          >Isr Name</label
        >
        <input
          id="podName"
          [(ngModel)]="data.pod_name"
          placeholder="Isr Name"
          name="podName"
          class="border p-2 text-sm rounded w-full"
        />
        <div *ngIf="errorMessages['podName']" class="text-red-700 text-xs mt-1">
          <ul>
            <li *ngFor="let errorMsg of errorMessages['podName']">
              {{ errorMsg }}
            </li>
          </ul>
        </div>
      </div>
      <div class="relative">
        <label
          for="others"
          class="block text-gray-700 text-md dark:text-gray-300 font-medium mb-2"
          >Others</label
        >
        <input
          id="others"
          [(ngModel)]="data.pod_others"
          placeholder="Others"
          name="others"
          class="border p-2 text-sm rounded w-full"
        />
        <div *ngIf="errorMessages['others']" class="text-red-700 text-xs mt-1">
          <ul>
            <li *ngFor="let errorMsg of errorMessages['others']">
              {{ errorMsg }}
            </li>
          </ul>
        </div>
      </div>
      <div class="relative">
        <label
          for="type"
          class="block text-gray-700 text-md dark:text-gray-300 font-medium mb-2"
          >Type</label
        >
        <input
          id="type"
          [(ngModel)]="data.pod_type"
          placeholder="Type"
          name="type"
          class="border p-2 text-sm rounded w-full"
        />
        <div *ngIf="errorMessages['type']" class="text-red-700 text-xs mt-1">
          <ul>
            <li *ngFor="let errorMsg of errorMessages['type']">
              {{ errorMsg }}
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="grid grid-cols-1 gap-2 mb-4">
      <div class="relative">
        <div class="grid grid-cols-2">
          <div class="relative col-span-2">
            <label
              for="description"
              class="block text-gray-700 text-md dark:text-gray-300 font-medium mb-2"
              >Description</label
            >
            <textarea
              id="description"
              [(ngModel)]="data.description"
              placeholder="Description"
              name="description"
              class="border p-2 text-sm rounded w-full"
              rows="4"
            ></textarea>
          </div>
        </div>
      </div>
      <div
        *ngIf="errorMessages['description']"
        class="text-red-700 text-xs mt-1"
      >
        <ul>
          <li *ngFor="let errorMsg of errorMessages['description']">
            {{ errorMsg }}
          </li>
        </ul>
      </div>
    </div>
    <div class="grid grid-cols-1 gap-2 mb-4">
      <div class="relative">
        <div class="grid grid-cols-2">
          <div class="relative col-span-2">
            <label
              for="imageUpload"
              class="block text-gray-700 text-md dark:text-gray-300 font-medium mb-2"
              >Add image upload</label
            >
            <input
              type="file"
              id="imageUpload"
              (change)="onFileChange($event)"
              class="border p-2 text-sm rounded w-full cursor-pointer"
              accept="image/*"
            />
            <div
              *ngIf="errorMessages['image']"
              class="text-red-700 text-xs mt-1"
            >
              <ul>
                <li *ngFor="let errorMsg of errorMessages['image']">
                  {{ errorMsg }}
                </li>
              </ul>
            </div>
            <div *ngIf="imagePreview" class="mt-4">
              <img
                [src]="imagePreview"
                alt="Image preview"
                class="w-full max-h-60 object-cover"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Close</button>
  <button mat-button (click)="save()">Save</button>
</div>
