<!-- modal.component.html -->
<h1 mat-dialog-title>Add area</h1>
<div
  *ngIf="errorMessages['general']"
  class="bg-red-100 text-red-700 p-2 rounded mb-4"
>
  <ul>
    <li *ngFor="let errorMsg of errorMessages['general']">{{ errorMsg }}</li>
  </ul>
</div>
<div *ngIf="data" mat-dialog-content>
  <form>
    <div class="grid grid-cols-1 gap-2 mb-4">
      <div class="relative">
        <label
          for="areaName"
          class="block text-gray-700 text-md dark:text-gray-300 font-medium mb-2"
          >Area Name</label
        >
        <input
          id="areaName"
          [(ngModel)]="data.area"
          placeholder="Area Name"
          name="areaName"
          aria-modal="true"
          class="border p-2 text-sm rounded w-full"
        />
        <div
          *ngIf="errorMessages['area']"
          class="text-red-700 text-xs mt-1"
        >
          <ul>
            <li *ngFor="let errorMsg of errorMessages['area']">
              {{ errorMsg }}
            </li>
          </ul>
        </div>
      </div>
      <div class="relative">
        <div class="grid grid-cols-2">
          <div class="relative col-span-2">
            <label
              for="description"
              class="block text-gray-700 text-md dark:text-gray-300 font-medium mb-2"
            >Description</label>
            <textarea
              id="description"
              aria-modal="true"
              [(ngModel)]="data.description"
              placeholder="Description"
              name="description"
              class="border p-2 text-sm rounded w-full"
              rows="4"
            ></textarea>
          </div>
        </div>
        
        <div
          *ngIf="errorMessages['description']"
          class="text-red-700 text-xs mt-1"
        >
          <ul>
            <li *ngFor="let errorMsg of errorMessages['description']">
              {{ errorMsg }}
            </li>
          </ul>
        </div>
      </div>
    </div>
  </form>
</div>

<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Close</button>
  <button mat-button (click)="save()">Save</button>
</div>
