<!-- modal.component.html -->
<!-- <h1 mat-dialog-title>Edit - {{data.fname}} {{data.mname}} {{data.lname}}</h1> -->
<h1 mat-dialog-title class="uppercase">{{data.username}}'s complete details.</h1>
<div *ngIf="data" mat-dialog-content>
  <form>
    <div class="grid grid-cols- gap-2 mb-2">
      <div class="relative">
        <label
          for="Username"
          class="block text-gray-700 text-md dark:text-gray-300 font-medium mb-2"
          >Username</label
        >
        <input
        disabled
        id="Username"
        [(ngModel)]="data.username"
          placeholder="Username"
          name="Username"
          class="border p-2 text-sm rounded w-full"
          
        />        
      </div>                                 
    </div>
    <div class="grid grid-cols-1 lg:grid-cols-2 gap-2 mb-4">
      <div class="relative">
        <label
    
          for="abfi_id"
          class="block text-gray-700 text-md dark:text-gray-300 font-medium mb-2"
          >Annas Breeder INC ID</label
        >
        <input
        disabled
        id="abfi_id"
        [(ngModel)]="data.abfi_id"
          placeholder="XXX-XXX"
          name="abfi_id"
          class="border p-2 text-sm rounded w-full"
        />        
      </div>      
      
      <div class="relative">
        <label
          for="role"
          class="block text-gray-700 text-md dark:text-gray-300 font-medium mb-2"
          >Role</label
        >
        <select
        disabled
          id="role"
          [(ngModel)]="data.role"
          name="role"
          class="border p-2 text-sm rounded w-full"
        >
          <option value="" selected disabled>Select a role</option>
          <option value="user">user</option>
          <option value="admin">admin</option>
        </select>        
      </div>
    
    </div>  

    <div class="grid grid-cols-1 lg:grid-cols-3 gap-2 mb-4">
      <div class="relative">
        <label
    
          for="Firstname"
          class="block text-gray-700 text-md dark:text-gray-300 font-medium mb-2"
          >First name</label
        >
        <input
        disabled
        id="Firstname"
        [(ngModel)]="data.fname"
          placeholder="Firstname"
          name="Firstname"
          class="border p-2 text-sm rounded w-full"
        />       
      </div>

      <div class="relative">
        <label
          for="Middlename"
          class="block text-gray-700 text-xs dark:text-gray-300 font-medium mb-3"
          >Middle Name (Optional)</label
        >

        <input
        disabled
        id="Middlename"
        [(ngModel)]="data.mname"
          placeholder="Middle Name"
          name="Middlename"
          class="border p-2 text-sm rounded w-full"
        />       
      </div>
      <div class="relative">
        <label
          for="Lastname"
          class="block text-gray-700 text-md dark:text-gray-300 font-medium mb-2"
          >Last Name</label
        >
        <input
        disabled
        id="Lastname"
        [(ngModel)]="data.lname"
          placeholder="Last Name"
          name="Lastname"
          class="border p-2 text-sm rounded w-full"
        />       
      </div>
    </div>  
    <div class="grid grid-cols-1 lg:grid-cols-2 gap-2 mb-3">
      <div class="relative">
        <label
        
          for="Emailadd"
          class="block text-gray-700 text-md dark:text-gray-300 font-medium mb-2"
          >Email Address</label
        >
        <input
        disabled
        id="Emailadd"
        [(ngModel)]="data.email_add"
          placeholder="Email Address"
          name="Emailadd"
          class="border p-2 text-sm rounded w-full"
        />        
      </div>
      <div class="relative">
        <div class="grid grid-cols-2">
          <div class="relative">
            <label
              for="Contactnum"
              class="block text-gray-700 text-md dark:text-gray-300 font-medium mb-2"
              >Contact Number</label
            >
          </div>
        </div>
        <input
        disabled
        id="Contactnum"
        [(ngModel)]="data.contact_num"
          placeholder="Contact Number"
          name="Contactnum"
          class="border p-2 text-sm rounded w-full"
        />        
      </div>
    </div>
    <div class="grid grid-cols-1 lg:grid-cols-2 gap-2">
      <div class="relative">
        <label
        
          for="date_created"
          class="block text-gray-700 text-md dark:text-gray-300 font-medium mb-2"
          >Date Created</label
        >
        <input
        disabled
        id="date_created"
        [(ngModel)]="formattedDate"
          placeholder="Date Created"
          name="date_created"
          class="border p-2 text-sm rounded w-full"
        />        
      </div>
      <div class="relative">
        <div class="grid grid-cols-2">
          <div class="relative">
            <label
              for="date_updated"
              class="block text-gray-700 text-md dark:text-gray-300 font-medium mb-2"
              >Date Updated</label
            >
          </div>
        </div>
        <input
        disabled
        id="date_updated"
        [(ngModel)]="formattedDateUpdated"
          placeholder="Date Updated"
          name="date_updated"
          class="border p-2 text-sm rounded w-full"
        />        
      </div>
    </div>
    
  </form>
</div>

<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Close</button>
</div>
