<!-- modal.component.html -->
<h1 mat-dialog-title>  Visitor name: {{ data.visitor }}
</h1>
<div *ngIf="data" mat-dialog-content>
    <form>
        <div class="grid grid-cols-1 gap-4 mb-4 ">
          <div class="relative">
            <label for="area" class="block text-gray-700 text-md dark:text-gray-300 font-medium mb-2">Area</label>
            <input
            [(ngModel)]="data.area"
              placeholder="Area"
              name="area"   
              placeholder="Area"
              name="area"
            class="bordertext-sm rounded w-full"
            />
          </div>
          <div class="relative">
            <label for="visitor" class="block text-gray-700 text-md dark:text-gray-300 font-medium mb-2">Name</label>
            <input
            [(ngModel)]="data.visitor"
            placeholder="Area"
            name="area"
              placeholder="Visitor Name"
              name="visitor"
            class="bordertext-sm rounded w-full"
            />
          </div>
        </div>

        <div class="mb-4">
          <div class="relative">
            <label for="datetimepicker" class="block text-gray-700 text-md dark:text-gray-300 font-medium mb-2">Date and Time Visited</label>
            <input
            [(ngModel)]="data.visitdate"
            placeholder="Area"
            name="area"
              type="datetime-local"
              id="datetimepicker"
              name="datetime"
              class="border p-2 text-sm rounded w-full focus:outline-none focus:ring-2 focus:ring-blue-500 transition duration-200 ease-in-out"
            />
          </div>
        </div>        
      </form>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">Cancel</button>
    <button mat-button  (click)="save()"
    *ngIf="data.id">Save</button>
</div>