<!-- modal.component.html -->
<h1 mat-dialog-title>Test opening modal</h1>
<div mat-dialog-content>
    <form>
        <div class="grid grid-cols-1 gap-4 mb-4 ">
          <div class="relative">
            <label for="area" class="block text-gray-700 text-md dark:text-gray-300 font-medium mb-2">Area</label>
            <input
              
              placeholder="Area"
              name="area"
              class="border p-2 text-sm rounded w-full"
            />
          </div>
          <div class="relative">
            <label for="visitor" class="block text-gray-700 text-md dark:text-gray-300 font-medium mb-2">Name</label>
            <input
             
              placeholder="Visitor Name"
              name="visitor"
              class="border p-2 text-sm rounded w-full"
            />
          </div>
        </div>

        <div class="mb-4">
          <div class="relative">
            <label for="datetimepicker" class="block text-gray-700 text-md dark:text-gray-300 font-medium mb-2">Date and Time Visited</label>
            <input
            
              type="datetime-local"
              id="datetimepicker"
              name="datetime"
              class="border p-2 text-sm rounded w-full focus:outline-none focus:ring-2 focus:ring-blue-500 transition duration-200 ease-in-out"
            />
          </div>
        </div>

        <div class="flex flex-col sm:flex-row gap-2">
          <button
           
            class="px-4 py-2 text-sm rounded bg-indigo-500 text-white hover:bg-indigo-600 font-bold focus:outline-none transition-colors"
          >
            Confirm edit
          </button>
          <button
          
            class="px-4 py-2 text-sm rounded bg-indigo-500 text-white hover:bg-indigo-600 font-bold focus:outline-none transition-colors"
          >
            Create data
          </button>
          <button
           
            class="px-4 py-2 text-sm rounded bg-red-500 text-white hover:bg-red-600 font-bold focus:outline-none transition-colors"
          >
            Delete data
          </button>
        </div>
      </form>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Close</button>
  <button mat-button (click)="save()">Save</button>
</div>