<!-- modal.component.html -->
<!-- <h1 mat-dialog-title>Edit - {{data.fname}} {{data.mname}} {{data.lname}}</h1> -->
<h1 mat-dialog-title>Edit</h1>
<div *ngIf="errorMessages['general']" class="bg-red-100 text-red-700 p-2 rounded mb-4">
  <ul>
    <li *ngFor="let errorMsg of errorMessages['general']">{{ errorMsg }}</li>
  </ul>
</div>
<div *ngIf="data" mat-dialog-content>
  <form>
    <div class="grid grid-cols- gap-2 mb-2">
      <div class="relative">
        <label
          for="Username"
          class="block text-gray-700 text-md dark:text-gray-300 font-medium mb-2"
          >Username</label
        >
        <input
        id="Username"
        [(ngModel)]="data.username"
          placeholder="Username"
          name="Username"
          class="border p-2 text-sm rounded w-full"
          
        />
        <div *ngIf="errorMessages['username']" class="text-red-700 text-xs mt-1">
          <ul>
            <li *ngFor="let errorMsg of errorMessages['username']">{{ errorMsg }}</li>
          </ul>
        </div>
      </div>  
      <!-- password -->
      <div class="relative">
        <!-- Password Input -->
        <label
          for="user_password"
          class="block text-gray-700 text-md dark:text-gray-300 font-medium mb-2"
        >
          Password
        </label>
        <input
        id="user_password"
          [(ngModel)]="data.user_password"
          placeholder="user_password"
          name="user_password"
          type="password"
          class="border p-2 text-sm rounded w-full"
          [attr.disabled]="!isPasswordEnabled ? true : null"
          disabled
        />
        <div *ngIf="errorMessages['user_password']" class="text-red-700 text-xs mt-1">
          <ul>
            <li *ngFor="let errorMsg of errorMessages['user_password']">{{ errorMsg }}</li>
          </ul>
        </div>
        
        <!-- Enable Checkbox -->
        <div class="mt-4">
          <input
            id="enable_password"
            type="checkbox"
            [checked]="isPasswordEnabled"
            (change)="togglePasswordField($event)"
            class="mr-2"
          />
          <label for="enable_password" class="text-gray-700 text-sm dark:text-gray-300">
            Enable Password Input
          </label>
        </div>
      </div>
            
      
      
         
    </div>
    <div class="grid grid-cols-1 lg:grid-cols-2 gap-2 mb-4">
      <div class="relative">
        <label
    
          for="abfi_id"
          class="block text-gray-700 text-md dark:text-gray-300 font-medium mb-2"
          >Annas Breeder INC ID</label
        >
        <input
        id="abfi_id"
        [(ngModel)]="data.abfi_id"
          placeholder="XXX-XXX"
          name="abfi_id"
          class="border p-2 text-sm rounded w-full"
        />
        <div *ngIf="errorMessages['abfi_id']" class="text-red-700 text-xs mt-1">
          <ul>
            <li *ngFor="let errorMsg of errorMessages['abfi_id']">{{ errorMsg }}</li>
          </ul>
        </div>
      </div>      
      
      <div class="relative">
        <label
          for="role"
          class="block text-gray-700 text-md dark:text-gray-300 font-medium mb-2"
          >Role</label
        >
        <select
          id="role"
          [(ngModel)]="data.role"
          name="role"
          class="border p-2 text-sm rounded w-full"
        >
          <option value="" selected disabled>Select a role</option>
          <option value="user">user</option>
          <option value="admin">admin</option>
        </select>

        <div *ngIf="errorMessages['role']" class="text-red-700 text-xs mt-1">
          <ul>
            <li *ngFor="let errorMsg of errorMessages['role']">
              {{ errorMsg }}
            </li>
          </ul>
        </div>
      </div>
    
    </div>  

    <div class="grid grid-cols-1 lg:grid-cols-3 gap-2 mb-4">
      <div class="relative">
        <label
    
          for="Firstname"
          class="block text-gray-700 text-md dark:text-gray-300 font-medium mb-2"
          >First name</label
        >
        <input
        id="Firstname"
        [(ngModel)]="data.fname"
          placeholder="Firstname"
          name="Firstname"
          class="border p-2 text-sm rounded w-full"
        />
        <div *ngIf="errorMessages['fname']" class="text-red-700 text-xs mt-1">
          <ul>
            <li *ngFor="let errorMsg of errorMessages['fname']">{{ errorMsg }}</li>
          </ul>
        </div>
      </div>

      <div class="relative">
        <label
          for="Middlename"
          class="block text-gray-700 text-xs dark:text-gray-300 font-medium mb-3"
          >Middle Name (Optional)</label
        >

        <input
        id="Middlename"
        [(ngModel)]="data.mname"
          placeholder="Middle Name"
          name="Middlename"
          class="border p-2 text-sm rounded w-full"
        />
        <div *ngIf="errorMessages['mname']" class="text-red-700 text-xs mt-1">
          <ul>
            <li *ngFor="let errorMsg of errorMessages['mname']">{{ errorMsg }}</li>
          </ul>
        </div>
      </div>
      <div class="relative">
        <label
          for="Lastname"
          class="block text-gray-700 text-md dark:text-gray-300 font-medium mb-2"
          >Last Name</label
        >
        <input
        id="Lastname"
        [(ngModel)]="data.lname"
          placeholder="Last Name"
          name="Lastname"
          class="border p-2 text-sm rounded w-full"
        />
        <div *ngIf="errorMessages['lname']" class="text-red-700 text-xs mt-1">
          <ul>
            <li *ngFor="let errorMsg of errorMessages['lname']">{{ errorMsg }}</li>
          </ul>
        </div>
      </div>
    </div>  
    <div class="grid grid-cols-1 lg:grid-cols-2 gap-2">
      <div class="relative">
        <label
        
          for="Emailadd"
          class="block text-gray-700 text-md dark:text-gray-300 font-medium mb-2"
          >Email Address</label
        >
        <input
        id="Emailadd"
        [(ngModel)]="data.email_add"
          placeholder="Email Address"
          name="Emailadd"
          class="border p-2 text-sm rounded w-full"
        />
        <div *ngIf="errorMessages['email_add']" class="text-red-700 text-xs mt-1">
          <ul>
            <li *ngFor="let errorMsg of errorMessages['email_add']">{{ errorMsg }}</li>
          </ul>
        </div>
      </div>
      <div class="relative">
        <div class="grid grid-cols-2">
          <div class="relative">
            <label
              for="Contactnum"
              class="block text-gray-700 text-md dark:text-gray-300 font-medium mb-2"
              >Contact Number</label
            >
          </div>
        </div>
        <input
        id="Contactnum"
        [(ngModel)]="data.contact_num"
          placeholder="Contact Number"
          name="Contactnum"
          class="border p-2 text-sm rounded w-full"
        />
        <div *ngIf="errorMessages['contact_num']" class="text-red-700 text-xs mt-1">
          <ul>
            <li *ngFor="let errorMsg of errorMessages['contact_num']">{{ errorMsg }}</li>
          </ul>
        </div>
      </div>
    </div>
    
  </form>
</div>

<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Close</button>
  <button mat-button (click)="openConfirmationDialog()">Save</button>
</div>