<div class="grid grid-cols-1 lg:grid-cols-4 gap-6 mb-6">
  <div
    class="bg-white rounded-md border border-gray-100 p-6 shadow-md shadow-black/5"
  >
    <div class="flex justify-between mb-6">
      <div>
        <div class="flex items-center text-2xl font-semibold mb-1">
          <!-- SVG icon -->
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            fill="currentColor"
            class="size-6 mr-2"
          >
            <path
              fill-rule="evenodd"
              d="M7.5 6a4.5 4.5 0 1 1 9 0 4.5 4.5 0 0 1-9 0ZM3.751 20.105a8.25 8.25 0 0 1 16.498 0 .75.75 0 0 1-.437.695A18.683 18.683 0 0 1 12 22.5c-2.786 0-5.433-.608-7.812-1.7a.75.75 0 0 1-.437-.695Z"
              clip-rule="evenodd"
            />
          </svg>
          <span>{{ userCount }}</span>
        </div>
        <div class="text-sm font-medium text-gray-400">Number of Users</div>
      </div>
    </div>
  </div>
</div>

<div class="grid grid-cols-1 gap-6 mb-6">
  <div
    class="bg-white border border-gray-100 shadow-md shadow-black/5 p-6 rounded-md"
  >
    <div class="w-full mx-auto">
      <!-- <div class="bg-white dark:bg-gray-700 shadow-lg rounded-lg p-6"> -->
      <div class="rounded-t mb-4 border-0">
        <div class="flex flex-wrap items-center justify-between">
          <!-- Header -->
          <div class="flex items-center mb-5">
            <h1 class="font-semibold text-2xl text-blueGray-700 flex-grow">
              User's Table
            </h1>
            <!-- Add button -->
            <button
              mat-icon-button
              class="ml-4"
              (click)="openAddDialog()"             
            >
            <mat-icon>add</mat-icon>
            </button>
          </div>
          <!-- Filters -->
          <div class="flex flex-col gap-2 sm:flex-row sm:gap-4">
            <mat-form-field
              appearance="fill"
              class="sm:min-w-[200px] sm:h-[70px]"
            >
              <mat-label class="text-base">Filter by username</mat-label>
              <input
                matInput
                (input)="applyFilter($event, 'username')"
                class="text-xs"
              />
              <mat-icon matSuffix>search</mat-icon>
            </mat-form-field>

            <mat-form-field class="sm:min-w-[150px] sm:h-[70px]">
              <mat-label class="text-base">Filter by (Start Date)</mat-label>
              <input
                matInput
                [matDatepicker]="startPicker"
                placeholder="Start Date"
                (dateChange)="applyDateFilter('start', $event)"
                class="text-xs"
              />
              <mat-datepicker-toggle
                matSuffix
                [for]="startPicker"
              ></mat-datepicker-toggle>
              <mat-datepicker #startPicker></mat-datepicker>
            </mat-form-field>

            <mat-form-field class="sm:min-w-[150px] sm:h-[70px]">
              <mat-label class="text-base">Filter by (End Date)</mat-label>
              <input
                matInput
                [matDatepicker]="endPicker"
                placeholder="End Date"
                (dateChange)="applyDateFilter('end', $event)"
                class="text-xs"
              />
              <mat-datepicker-toggle
                matSuffix
                [for]="endPicker"
              ></mat-datepicker-toggle>
              <mat-datepicker #endPicker></mat-datepicker>
            </mat-form-field>
          </div>
        </div>
      </div>

      <div class="block w-full overflow-x-auto">
        <table
          mat-table
          [dataSource]="dataSource"
          class="items-center bg-transparent w-full border-collapse"
        >
          <!-- Column Definitions -->
          <ng-container matColumnDef="id">
            <th
              mat-header-cell
              *matHeaderCellDef
              class="bg-white-imp uppercase text-xs"
            >
              Abfi Id
            </th>
            <td
              mat-cell
              *matCellDef="let user"
              class="bg-white-imp border border-blueGray-100 px-6 py-3 text-sm whitespace-nowrap text-left text-blueGray-700"
            >
              {{ user.abfi_id }}
            </td>
          </ng-container>
          <ng-container matColumnDef="fullname">
            <th
              mat-header-cell
              *matHeaderCellDef
              class="bg-white-imp uppercase text-xs"
            >
              Name
            </th>
            <td
              mat-cell
              *matCellDef="let user"
              class="bg-white-imp border border-blueGray-100 px-6 py-3 text-sm whitespace-nowrap text-left text-blueGray-700"
            >
              {{ user.fname }} {{ user.mname }} {{ user.lname }}
            </td>
          </ng-container>
          <ng-container matColumnDef="username">
            <th
              mat-header-cell
              *matHeaderCellDef
              class="bg-white-imp uppercase text-xs"
            >
              Username
            </th>
            <td
              mat-cell
              *matCellDef="let user"
              class="bg-white-imp border border-blueGray-100 px-6 py-3 text-sm whitespace-nowrap text-left text-blueGray-700"
            >
              {{ user.username }}
            </td>
          </ng-container>

          <ng-container matColumnDef="email_add">
            <th
              mat-header-cell
              *matHeaderCellDef
              class="bg-white-imp uppercase text-xs"
            >
              Email Address
            </th>
            <td
              mat-cell
              *matCellDef="let user"
              class="bg-white-imp border border-blueGray-100 px-6 py-3 text-sm whitespace-nowrap text-left text-blueGray-700"
            >
              {{ user.email_add }}
            </td>
          </ng-container>

          <ng-container matColumnDef="contact_num">
            <th
              mat-header-cell
              *matHeaderCellDef
              class="bg-white-imp uppercase text-xs"
            >
              Contact number
            </th>
            <td
              mat-cell
              *matCellDef="let user"
              class="bg-white-imp border border-blueGray-100 px-6 py-3 text-sm whitespace-nowrap text-left text-blueGray-700"
            >
              {{ user.contact_num }}
            </td>
          </ng-container>
          <ng-container matColumnDef="date_created">
            <th
              mat-header-cell
              *matHeaderCellDef
              class="bg-white-imp uppercase text-xs"
            >
              Date created
            </th>
            <td
              mat-cell
              *matCellDef="let user"
              class="bg-white-imp border border-blueGray-100 px-6 py-3 text-sm whitespace-nowrap text-left text-blueGray-700"
            >
              {{ user.date_created | date : "short" }}
            </td>
          </ng-container>
          <ng-container matColumnDef="action">
            <th
              mat-header-cell
              *matHeaderCellDef
              class="bg-white-imp uppercase text-xs"
            >
              Action
            </th>
            <td
              mat-cell
              *matCellDef="let user"
              class="bg-white-imp border border-blueGray-100 px-6 py-3 text-sm whitespace-nowrap text-left text-blueGray-700"
            >
            <div class="flex space-x-2">
              <div class="relative inline-block group">
                <button
                  mat-icon-button
                  class="icon-button-edit"
                  (click)="openEditDialog(user)"
                >
                  <mat-icon>edit</mat-icon>
                </button>
               
              </div>
              <div class="relative inline-block group">
                <button
                  mat-icon-button
                  class="icon-button-edit"
                  (click)="openViewDialog(user)"
                >
                  <mat-icon>visibility</mat-icon>
                </button>
                
              </div>
                   
              <div class="relative inline-block group">
                <button
                  mat-icon-button
                  class="icon-button-edit"
                  (click)="openDeleteDialog(user)"
                >
                  <mat-icon>delete</mat-icon>
                </button>                
              </div>                                               
            </div>
            </td>
          </ng-container>
          <!-- Table Header and Rows -->
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
      </div>
      <div>
        <mat-paginator
          class="bg-white-imp"
          [length]="dataSource.data.length"
          [pageSize]="10"
          [pageSizeOptions]="[5, 10, 25, 100]"
          aria-label="Select page"
        >
        </mat-paginator>
      </div>
    </div>
  </div>
</div>

