<div class="text-2xl font-semibold mb-1">Add visits</div>
<!-- <button
          mat-raised-button
          (click)="isLinear = !isLinear"
          id="toggle-linear"
        >
          {{ !isLinear ? "Enable linear mode" : "Disable linear mode" }}
        </button> -->
<mat-stepper orientation="vertical" [linear]="isLinear" #stepper>
  <mat-step [stepControl]="firstFormGroup">
    <form [formGroup]="firstFormGroup">
      <ng-template matStepLabel>Fill out time and date of visit</ng-template>
      <div class="grid grid-cols-1 lg:grid-cols-2 gap-2 mb-4">
        <div class="relative">
          <label
            class="block text-gray-700 text-md dark:text-gray-300 font-medium mb-2"
            >Date of visit
          </label>
          <input
            id="dateOfVisit"
            placeholder="Date and Time"
            type="datetime-local"
            id="datetimepicker"
            name="datetime"
            class="border p-2 text-sm rounded w-1/2 focus:outline-none focus:ring-2 focus:ring-blue-500 transition duration-200 ease-in-out"
          />
        </div>
      </div>
      <div class="relative">
        <label
          for="area"
          class="block text-gray-700 text-md dark:text-gray-300 font-medium mb-2"
          >Area</label
        >
        <ul>
          <li *ngFor="let areas of areas">
            <div class="flex items-center mb-2">
              <input
                id="{{ areas.id }}"
                type="checkbox"
                name="pod_canned"
                value="{{ areas.id }}"
                class="h-5 w-5 text-blue-500 bg-gray-100 border-gray-300 rounded focus:ring-blue-500"
              />
              <label for="{{ areas.id }}" class="ml-2 text-xs text-gray-700">{{
                areas.area
              }}</label>
              <!-- The for attribute should match the input id -->
            </div>
          </li>
        </ul>
      </div>

      <div>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="secondFormGroup">
    <form [formGroup]="secondFormGroup">
      <ng-template matStepLabel>Fill out account information</ng-template>
      <div class="grid grid-cols-1 lg:grid-cols-3 gap-2 mb-4">
        <div class="relative">
          <label
            for="accountName"
            class="block text-gray-700 text-md dark:text-gray-300 font-medium mb-2"
            >Account Name</label
          >
          <input
            id="accountName"
            placeholder="Account name"
            name="accountName"
            class="border p-2 text-sm rounded w-full"
          />
        </div>
        <div class="relative">
          <label
            for="distributor"
            class="block text-gray-700 text-md dark:text-gray-300 font-medium mb-2"
            >Distributor</label
          >
          <input
            id="distributor"
            placeholder="Distributor"
            name="distributor"
            class="border p-2 text-sm rounded w-full"
          />
        </div>
        <div class="relative">
          <label
            for="salesPeronnel"
            class="block text-gray-700 text-md dark:text-gray-300 font-medium mb-2"
            >Sales Personnel in Charge</label
          >
          <input
            placeholder="Sales Personnel in Charge"
            name="salesPeronnel"
            class="border p-2 text-sm rounded w-full"
          />
        </div>
      </div>
      <div class="grid grid-cols-1 lg:grid-cols-2 gap-2 mb-3">
        <div class="relative">
          <label
            for="visit_accountType"
            class="block text-gray-700 text-md dark:text-gray-300 font-medium mb-3"
            >Account type</label
          >
          <ul>
            <li *ngFor="let type of accountType">
              <div class="flex items-center mb-2">
                <input
                  id="{{ type }}"
                  type="checkbox"
                  name="pod_canned"
                  value="{{ type }}"
                  class="h-5 w-5 text-blue-500 bg-gray-100 border-gray-300 rounded focus:ring-blue-500"
                />
                <label for="{{ type }}" class="ml-2 text-xs text-gray-700">{{
                  type
                }}</label>
              </div>
            </li>
          </ul>
          <input
            type="text"
            id="pod_others"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-1/2 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
            placeholder="Others"
          />
        </div>
      </div>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="thirdFormGroup">
    <form [formGroup]="thirdFormGroup">
      <ng-template matStepLabel
        >Fill out In store requirement checklist</ng-template
      >
      <div class="grid grid-cols-1 lg:grid-cols-2 gap-2 mb-2">
        <div class="relative mt-4">
          <label class="block font-medium mb-4">In store requirement</label>
          <div
            *ngIf="
              isrRequirements && isrRequirements.length > 0;
              else noIsrRequirements
            "
          >
            <ul>
              <li *ngFor="let isr of isrRequirements">
                <div class="flex items-center mb-2">
                  <input
                    id="{{ isr.id }}"
                    type="checkbox"
                    name="pod_canned"
                    value="{{ isr.id }}"
                    class="h-5 w-5 text-blue-500 bg-gray-100 border-gray-300 rounded focus:ring-blue-500"
                  />
                  <label
                    for="{{ isr.id }}"
                    class="ml-2 text-xs text-gray-700"
                    >{{ isr.isr_name }}</label
                  >
                  <!-- The for attribute should match the input id -->
                </div>
              </li>
            </ul>
            <div class="relative col-span-2">
              <div>
                <input
                  type="text"
                  id="pod_others"
                  class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-1/2 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                  placeholder="Others"
                />
              </div>
              <div>
                <input
                  type="file"
                  id="imageUpload"
                  class="border rounded-lg text-sm w-1/2 cursor-pointer mt-2"
                  accept="image/*"
                />
              </div>
            </div>
          </div>
          <ng-template #noIsrRequirements>
            <p>No ISR available.</p>
          </ng-template>
        </div>
        <div class="relative mt-4">
          <label class="block font-medium mb-4"
            >In store requirement needs</label
          >
          <div *ngIf="isrNeeds && isrNeeds.length > 0; else noisrNeeds">
            <ul>
              <li *ngFor="let isr of isrNeeds">
                <div class="flex items-center mb-2">
                  <input
                    id="{{ isr.id }}"
                    type="checkbox"
                    name="pod_canned"
                    value="{{ isr.id }}"
                    class="h-5 w-5 text-blue-500 bg-gray-100 border-gray-300 rounded focus:ring-blue-500"
                  />
                  <label
                    for="{{ isr.id }}"
                    class="ml-2 text-xs text-gray-700"
                    >{{ isr.isr_name }}</label
                  >
                  <!-- The for attribute should match the input id -->
                </div>
              </li>
            </ul>
            <div>
              <div class="relative col-span-2">
                <div>
                  <input
                    type="text"
                    id="pod_others"
                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-1/2 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                    placeholder="Others"
                  />
                </div>
                <div>
                  <input
                    type="file"
                    id="imageUpload"
                    class="border rounded-lg text-sm w-1/2 cursor-pointer mt-2"
                    accept="image/*"
                  />
                </div>
              </div>
            </div>
          </div>
          <ng-template #noisrNeeds>
            <p>No ISR NEEDS available.</p>
          </ng-template>
        </div>
      </div>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="fourthFormGroup">
    <form [formGroup]="fourthFormGroup">
      <ng-template matStepLabel>Fill out payola infomation</ng-template>
      <div class="grid grid-cols-1 lg:grid-cols-3 gap-2 mb-4">
        <div class="relative">
          <label
            for="visit_payolaMerchandiser"
            class="block text-gray-700 text-md dark:text-gray-300 font-medium mb-2"
            >Payola Merchandiser</label
          >
          <input
            id="visit_payolaMerchandiser"
            placeholder="Payola Merchandiser"
            name="visit_payolaMerchandiser"
            class="border p-2 text-sm rounded w-full"
          />
        </div>

        <div class="relative">
          <label
            for="salesPeronnel"
            class="block text-gray-700 text-md dark:text-gray-300 font-medium mb-2"
            >Payola Supervisor</label
          >
          <input
            id="salesPeronnel"
            placeholder="Payola Supervisor"
            name="salesPeronnel"
            class="border p-2 text-sm rounded w-full"
          />
        </div>

        <div class="relative">
          <label
            for="visit_averageOffTakePd"
            class="block text-gray-700 text-md dark:text-gray-300 font-medium mb-2"
            >Average Off Take</label
          >
          <input
            id="visit_averageOffTakePd"
            placeholder="Average Off Take Per Day"
            name="visit_averageOffTakePd"
            class="border p-2 text-sm rounded w-full"
          />
        </div>
      </div>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="fifthFormGroup">
    <form [formGroup]="fifthFormGroup">
      <ng-template matStepLabel>Fill out checklist</ng-template>

      <div class="grid grid-cols-1 lg:grid-cols-2 gap-2 mb-2">
        <div class="relative">
          <label class="block font-medium mb-4">CANNED PODs</label>
          <div *ngIf="cannedPods && cannedPods.length > 0; else noCannedData">
            <ul>
              <li *ngFor="let pod of cannedPods">
                <div class="flex items-center mb-2">
                  <input
                    id="{{ pod.id }}"
                    type="checkbox"
                    name="pod_canned"
                    value="{{ pod.id }}"
                    class="h-5 w-5 text-blue-500 bg-gray-100 border-gray-300 rounded focus:ring-blue-500"
                  />
                  <label
                    for="{{ pod.id }}"
                    class="ml-2 text-xs text-gray-700"
                    >{{ pod.pod_name }}</label
                  >
                  <!-- The for attribute should match the input id -->
                </div>
              </li>
            </ul>
            <input
              type="text"
              id="pod_others"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-1/2 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
              placeholder="Others"
            />
          </div>
          <ng-template #noCannedData>
            <p>No CANNED PODs available.</p>
          </ng-template>
        </div>
        <div class="relative mt-4">
          <label class="block font-medium mb-4">MPP PODs</label>
          <div *ngIf="mppPods && mppPods.length > 0; else noMppData">
            <ul>
              <li *ngFor="let pod of mppPods">
                <div class="flex items-center mb-2">
                  <input
                    id="{{ pod.id }}"
                    type="checkbox"
                    name="pod_canned"
                    value="{{ pod.id }}"
                    class="h-5 w-5 text-blue-500 bg-gray-100 border-gray-300 rounded focus:ring-blue-500"
                  />
                  <label
                    for="{{ pod.id }}"
                    class="ml-2 text-xs text-gray-700"
                    >{{ pod.pod_name }}</label
                  >
                  <!-- The for attribute should match the input id -->
                </div>
              </li>
            </ul>
            <input
              type="text"
              id="pod_others"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-1/2 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
              placeholder="Others"
            />
          </div>
          <ng-template #noMppData>
            <p>No MPP PODs available.</p>
          </ng-template>
        </div>
      </div>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="firstFormGroup">
    <form [formGroup]="firstFormGroup">
      <ng-template matStepLabel
        >Fill out Competitors Check and Action plan</ng-template
      >
      <div class="grid grid-cols-1 gap-2 mt-4 mb-4">
        <div class="relative">
          <label
            for="visit_competitorsCheck"
            class="block text-gray-700 text-md dark:text-gray-300 font-medium mb-2"
            >Competitors Check (existing SKU in-store)
          </label>
          <input
            id="visit_competitorsCheck"
            placeholder="Area"
            name="visit_competitorsCheck"
            class="border p-2 text-sm rounded w-full"
          />
        </div>
      </div>

      <div class="grid grid-cols-1 lg:grid-cols-2 gap-2 mb-3">
        <div class="relative">
          <label
            for="visit_pap"
            class="block text-gray-700 text-md dark:text-gray-300 font-medium mb-3"
            >Proposed Action Plan</label
          >
          <ul>
            <li *ngFor="let paps of paps">
              <div class="flex items-center mb-2">
                <input
                  id="{{ paps.id }}"
                  type="checkbox"
                  name="pod_canned"
                  value="{{ paps.id }}"
                  class="h-5 w-5 text-blue-500 bg-gray-100 border-gray-300 rounded focus:ring-blue-500"
                />
                <label for="{{ paps.id }}" class="ml-2 text-xs text-gray-700">{{
                  paps.pap_name
                }}</label>
                <!-- The for attribute should match the input id -->
              </div>
            </li>
          </ul>
          <input
            type="text"
            id="pod_others"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-1/2 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
            placeholder="Others"
          />
        </div>
        <ng-template #noMppData>
          <p>No MPP PODs available.</p>
        </ng-template>
      </div>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Done</ng-template>
    <p>You are now done. Proceed to submit checklist.</p>
    <div class="mt-4">
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button>Submit</button>
      <button mat-button (click)="stepper.reset()">Reset</button>
    </div>
  </mat-step>
</mat-stepper>
